.HomePage{
    /* border: 2px solid red; */
    width: 84%;
    margin: auto;
    margin-top: 5%;
}

.MainTodo{
    display: flex;
    justify-content: space-evenly;
}

.MainTodo>div{
    /* border: 2px solid green; */
    width: 100%;
    height: 500px;
}

.MainTodo>div>div{
    border: 1px solid black;
    margin-bottom: 10%;
}

.MainTodo>div>div>p{
    font-size: larger;
    font-weight: bolder;
    /* border: 1px solid black; */
}

.Card{
    border: 2px solid red !important;
    width: 70%;
    height: 150px;
    padding-bottom: 5%;
    margin: auto;
}

.CardButton>button:nth-child(1){
    /* border: 2px solid green; */
    font-weight: bold;
    margin-right: 5%;
    padding: 3%;
    width: 60px;
}

.CardButton>button:nth-child(2){
    /* border: 2px solid blue; */
    font-weight: bold;
    padding: 3%;
    width: 60px;
}
